// %btn {
//   width: 100px;
//   height: 100px;
//   padding: 20px;
// }
// %div {
//   width: 200px;
//   height: 200px;
//   padding: 20px;
// }

// .div-green {
//   @extend %div;
//   color: green;
// }
// .div-green {
//   @extend %div;
//   color: red;
// }
// .div-green {
//   @extend %div;
//   color: blue;
// }

// .btn-green {
//   @extend %btn;
//   color: green;
// }
// .btn-red {
//   @extend %btn;
//   color: red;
// }

// .btn-blue {
//   @extend %btn;
//   color: blue;
// }

// // .main-bg h4 {
// //   font-size: 16px;
// // }
// // .main-bg button {
// //   color: red;
// // }

// // .main-bg {
// //   h4 {
// //     font-size: 16px;
// //   }
// //   button {
// //     color: red;
// //   }
// // }

// $main-color: #2a4cb2;
// $sub-color: #eeeeee;
// $기본사이즈: 16px;

// .background {
//   background-color: $main-color;
//   font-size: ($기본사이즈 - 2px);
// }

// .box {
//   color: $main-color;
//   font-size: ($기본사이즈 / 2);
// }

// @mixin 폰트스타일($구멍, $구멍2) {
//   font-size: $구멍;
//   #{$구멍2}: -1px;
// }

// h2 {
//   @include 폰트스타일(50px, width);
// }
// h3 {
//   // @include 폰트스타일(30px);
// }
// h4 {
//   font-size: 10px;
//   letter-spacing: -1px;
// }
// @use 'reset';

// @mixin 폰트스타일($구멍) {
//   font-size: $구멍;
//   letter-spacing: -1px;
// }

// h2 {
//   @include 폰트스타일(40px);
//   color: reset.$메인칼라;
// }
// h3 {
//   @include 폰트스타일(30px);
// }
// h4 {
//   font-size: 10px;
//   letter-spacing: -1px;
// }
%container {
  background-color: white;
  width: 70%;
  height: 300px;
  margin: auto;
}

.list {
  background-color: wheat;
  width: 100%;
  height: 1000px;
}

.list-container {
  background-color: white;
  width: 70%;
  height: 300px;
  margin: auto;
  ul {
    padding-right: 32px;
    padding-top: 30px;
  }
  li {
    list-style-type: none;
    // outline: 1px solid gray;
    border: 1px solid gray;
    padding: 20px;
    font-size: 20px;
  }
  li:active {
    background-color: blue;
    color: white;
  }
}
%alert {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.alert-container {
  @extend %container;
}

.alert-green {
  background-color: rgb(153, 214, 153);
  @extend %alert;
  p {
    color: rgb(45, 107, 45);
    margin: auto;
  }
  p::before {
    content: 'Well done! ';
    font-weight: bold;
  }
}
.alert-blue {
  background-color: rgb(165, 222, 240);
  @extend %alert;
  p {
    color: rgb(49, 108, 175);
    margin: auto;
  }
  p::before {
    content: 'Heads up! ';
    font-weight: bold;
  }
}
.alert-yellow {
  background-color: rgb(206, 216, 137);
  @extend %alert;
  p {
    color: rgb(98, 94, 19);
    margin: auto;
  }
  p::before {
    content: 'Warning! ';
    font-weight: bold;
  }
}

.row-container {
  @extend %container;
}

.row-box {
  background-color: rgb(233, 214, 238);
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  border: 1px solid rgb(224, 149, 239);
  display: flex;
}

.col-6-box {
  flex: 0 0 auto;
  width: 50%;
}

.col-4-box {
  flex: 0 0 auto;
  width: 33.33%;
}
